In [172]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\royel\anaconda3\lib\site-packages (2.9.9)

In [173]:
import psycopg2
from sqlalchemy import create_engine

In [174]:
db_params =  {
        'dbname' : 'vadagadi',
        'user' : 'postgres',
        'password' : '1532',
        'host' : 'localhost',
        'port' :5432
}

In [175]:
conn = psycopg2.connect(**db_params)

In [176]:
cur.execute("""SELECT * FROM auth_user WHERE id=1""")
print(cur.fetchone())

(1, 'pbkdf2_sha256$260000$y1MYYt3GXHIBR7tje1y9g6$yz5MYYXr5gJZne9WgYMndY0X9oswcmsnmLxuqtCoBLo=', datetime.datetime(2023, 7, 1, 13, 37, 41, 526567, tzinfo=datetime.timezone(datetime.timedelta(seconds=20700))), True, 'shishir1415', 'kbro', '1415', 'kbro1415@gmail.com', True, True, datetime.datetime(2023, 3, 14, 17, 16, 41, tzinfo=datetime.timezone(datetime.timedelta(seconds=20700))))

In [177]:
cur.execute("""SELECT table_name
FROM information_schema.tables
WHERE table_type = 'BASE TABLE'
      AND table_schema = 'public'
ORDER BY table_name;
""")
print(cur.fetchall())

[('auth_group',), ('auth_group_permissions',), ('auth_permission',), ('auth_user',), ('auth_user_groups',), ('auth_user_user_permissions',), ('contactus_contact',), ('django_admin_log',), ('django_content_type',), ('django_migrations',), ('django_session',), ('privacy_policy_privacypolicy',), ('products_booking',), ('products_comment',), ('products_fuletype',), ('products_paymentcomplete',), ('products_product',), ('products_ratings',), ('products_transmission',), ('products_vehicletype',), ('register_account',), ('register_randomstring',), ('register_verifyuser',)]

In [178]:
for table in table_name:
    print(table)

auth_group

In [179]:
cur.execute("""SELECT * FROM django_admin_log""")
print(cur.fetchone())

(1, datetime.datetime(2023, 3, 14, 21, 21, 24, 557742, tzinfo=datetime.timezone(datetime.timedelta(seconds=20700))), '3', 'Ratings object (3)', 3, '', 12, 1)

In [56]:
conn.commit()

In [23]:
cur.close()
conn.close()

In [180]:
# Create a SQLAlchemy engine
engine = create_engine(f'postgresql://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}:{db_params["port"]}/{db_params["dbname"]}')

In [181]:
import pandas as pd

df = pd.read_sql("SELECT * FROM django_admin_log",engine)

In [182]:
df.head()

,id,action_time,object_id,object_repr,action_flag,change_message,content_type_id,user_id
0,1,2023-03-14 15:36:24.557742+00:00,3,Ratings object (3),3,,12,1
1,2,2023-03-14 15:36:24.573988+00:00,2,Ratings object (2),3,,12,1
2,3,2023-03-14 16:03:00.702358+00:00,2,PaymentComplete object (2),2,"[{""changed"": {""fields"": [""Rating""]}}]",13,1
3,4,2023-03-14 16:21:55.858915+00:00,2,shishir51,2,"[{""changed"": {""fields"": [""Staff status"", ""Supe...",4,1
4,5,2023-03-15 00:48:21.491993+00:00,6,PaymentComplete object (6),3,,13,1