In [1]:
import os

db_user = "root"
db_password = "1532"
db_host = "localhost"
db_name = "classicmodels"
from langchain_community.utilities.sql_database import SQLDatabase
# db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=1,include_tables=['customers','orders'],custom_table_info={'customers':"customer"})
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")
print(db.dialect)
print(db.get_usable_table_names())
print(db.table_info)

mysql
['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

In [5]:
from langchain.chains import create_sql_query_chain
from langchain_community.chat_models import ChatOllama

llm = ChatOllama(model="sqlcoder", temperature=0.8)
# llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)
write_query = create_sql_query_chain(llm, db)
query = write_query.invoke({"question": "give me all the payment detail with customer name"})
query

'SELECT customers.customerName, payments.paymentDate, payments.amount FROM customers JOIN payments ON customers.customerNumber = payments.customerNumber;'

In [ ]:
db.run(query)

In [63]:
x = db._execute('SELECT p.paymentDate, p.amount, c.customerName FROM payments p JOIN customers c ON p.customerNumber = c.customerNumber;')

In [64]:
x

[{'paymentDate': datetime.date(2004, 10, 19),
  'amount': Decimal('6066.78'),
  'customerName': 'Atelier graphique'},
 {'paymentDate': datetime.date(2003, 6, 5),
  'amount': Decimal('14571.44'),
  'customerName': 'Atelier graphique'},
 {'paymentDate': datetime.date(2004, 12, 18),
  'amount': Decimal('1676.14'),
  'customerName': 'Atelier graphique'},
 {'paymentDate': datetime.date(2004, 12, 17),
  'amount': Decimal('14191.12'),
  'customerName': 'Signal Gift Stores'},
 {'paymentDate': datetime.date(2003, 6, 6),
  'amount': Decimal('32641.98'),
  'customerName': 'Signal Gift Stores'},
 {'paymentDate': datetime.date(2004, 8, 20),
  'amount': Decimal('33347.88'),
  'customerName': 'Signal Gift Stores'},
 {'paymentDate': datetime.date(2003, 5, 20),
  'amount': Decimal('45864.03'),
  'customerName': 'Australian Collectors, Co.'},
 {'paymentDate': datetime.date(2004, 12, 15),
  'amount': Decimal('82261.22'),
  'customerName': 'Australian Collectors, Co.'},
 {'paymentDate': datetime.date(2003, 5, 31),
  'amount': Decimal('7565.08'),
  'customerName': 'Australian Collectors, Co.'},
 {'paymentDate': datetime.date(2004, 3, 10),
  'amount': Decimal('44894.74'),
  'customerName': 'Australian Collectors, Co.'},
 {'paymentDate': datetime.date(2004, 11, 14),
  'amount': Decimal('19501.82'),
  'customerName': 'La Rochelle Gifts'},
 {'paymentDate': datetime.date(2004, 8, 8),
  'amount': Decimal('47924.19'),
  'customerName': 'La Rochelle Gifts'},
 {'paymentDate': datetime.date(2005, 2, 22),
  'amount': Decimal('49523.67'),
  'customerName': 'La Rochelle Gifts'},
 {'paymentDate': datetime.date(2003, 2, 16),
  'amount': Decimal('50218.95'),
  'customerName': 'Baane Mini Imports'},
 {'paymentDate': datetime.date(2003, 10, 28),
  'amount': Decimal('1491.38'),
  'customerName': 'Baane Mini Imports'},
 {'paymentDate': datetime.date(2004, 11, 4),
  'amount': Decimal('17876.32'),
  'customerName': 'Baane Mini Imports'},
 {'paymentDate': datetime.date(2004, 11, 28),
  'amount': Decimal('34638.14'),
  'customerName': 'Baane Mini Imports'},
 {'paymentDate': datetime.date(2005, 3, 5),
  'amount': Decimal('101244.59'),
  'customerName': 'Mini Gifts Distributors Ltd.'},
 {'paymentDate': datetime.date(2004, 8, 28),
  'amount': Decimal('85410.87'),
  'customerName': 'Mini Gifts Distributors Ltd.'},
 {'paymentDate': datetime.date(2003, 4, 11),
  'amount': Decimal('11044.30'),
  'customerName': 'Mini Gifts Distributors Ltd.'},
 {'paymentDate': datetime.date(2005, 4, 16),
  'amount': Decimal('83598.04'),
  'customerName': 'Mini Gifts Distributors Ltd.'},
 {'paymentDate': datetime.date(2004, 12, 27),
  'amount': Decimal('47142.70'),
  'customerName': 'Mini Gifts Distributors Ltd.'},
 {'paymentDate': datetime.date(2004, 11, 2),
  'amount': Decimal('55639.66'),
  'customerName': 'Mini Gifts Distributors Ltd.'},
 {'paymentDate': datetime.date(2003, 8, 15),
  'amount': Decimal('111654.40'),
  'customerName': 'Mini Gifts Distributors Ltd.'},
 {'paymentDate': datetime.date(2004, 3, 26),
  'amount': Decimal('43369.30'),
  'customerName': 'Mini Gifts Distributors Ltd.'},
 {'paymentDate': datetime.date(2003, 11, 25),
  'amount': Decimal('45084.38'),
  'customerName': 'Mini Gifts Distributors Ltd.'},
 {'paymentDate': datetime.date(2003, 1, 28),
  'amount': Decimal('10549.01'),
  'customerName': 'Blauer See Auto, Co.'},
 {'paymentDate': datetime.date(2003, 10, 18),
  'amount': Decimal('24101.81'),
  'customerName': 'Blauer See Auto, Co.'},
 {'paymentDate': datetime.date(2004, 3, 24),
  'amount': Decimal('33820.62'),
  'customerName': 'Blauer See Auto, Co.'},
 {'paymentDate': datetime.date(2004, 11, 18),
  'amount': Decimal('7466.32'),
  'customerName': 'Blauer See Auto, Co.'},
 {'paymentDate': datetime.date(2004, 12, 8),
  'amount': Decimal('26248.78'),
  'customerName': 'Mini Wheels Co.'},
 {'paymentDate': datetime.date(2003, 12, 11),
  'amount': Decimal('23923.93'),
  'customerName': 'Mini Wheels Co.'},
 {'paymentDate': datetime.date(2003, 4, 9),
  'amount': Decimal('16537.85'),
  'customerName': 'Mini Wheels Co.'},
 {'paymentDate': datetime.date(2003, 3, 12),
  'amount': Decimal('22292.62'),
  'customerName': 'Land of Toys Inc.'},
 {'paymentDate': datetime.date(2004, 12, 2),
  'amount': Decimal('50025.35'),
  'customerName': 'Land of Toys Inc.'},
 {'paymentDate': datetime.date(2004, 9, 11),
  'amount': Decimal('35321.97'),
  'customerName': 'Land of Toys Inc.'},
 {'paymentDate': datetime.date(2003, 7, 19),
  'amount': Decimal('36251.03'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2004, 11, 1),
  'amount': Decimal('36140.38'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2005, 5, 19),
  'amount': Decimal('46895.48'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2004, 1, 30),
  'amount': Decimal('59830.55'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2004, 12, 31),
  'amount': Decimal('116208.40'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2005, 3, 25),
  'amount': Decimal('65071.26'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2005, 3, 18),
  'amount': Decimal('120166.58'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2003, 10, 26),
  'amount': Decimal('49539.37'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2003, 2, 25),
  'amount': Decimal('40206.20'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2003, 12, 9),
  'amount': Decimal('63843.55'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2004, 7, 9),
  'amount': Decimal('35420.74'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2004, 8, 16),
  'amount': Decimal('20009.53'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2004, 5, 17),
  'amount': Decimal('26155.91'),
  'customerName': 'Euro+ Shopping Channel'},
 {'paymentDate': datetime.date(2004, 12, 12),
  'amount': Decimal('36005.71'),
  'customerName': 'Volvo Model Replicas, Co'},
 {'paymentDate': datetime.date(2003, 4, 9),
  'amount': Decimal('7674.94'),
  'customerName': 'Volvo Model Replicas, Co'},
 {'paymentDate': datetime.date(2004, 7, 3),
  'amount': Decimal('4710.73'),
  'customerName': 'Danish Wholesale Imports'},
 {'paymentDate': datetime.date(2004, 4, 26),
  'amount': Decimal('28211.70'),
  'customerName': 'Danish Wholesale Imports'},
 {'paymentDate': datetime.date(2004, 12, 1),
  'amount': Decimal('20564.86'),
  'customerName': 'Danish Wholesale Imports'},
 {'paymentDate': datetime.date(2003, 2, 20),
  'amount': Decimal('53959.21'),
  'customerName': 'Danish Wholesale Imports'},
 {'paymentDate': datetime.date(2004, 3, 18),
  'amount': Decimal('40978.53'),
  'customerName': 'Saveley & Henriot, Co.'},
 {'paymentDate': datetime.date(2004, 1, 16),
  'amount': Decimal('49614.72'),
  'customerName': 'Saveley & Henriot, Co.'},
 {'paymentDate': datetime.date(2003, 12, 10),
  'amount': Decimal('39712.10'),
  'customerName': 'Saveley & Henriot, Co.'},
 {'paymentDate': datetime.date(2003, 4, 22),
  'amount': Decimal('44380.15'),
  'customerName': 'Dragon Souveniers, Ltd.'},
 {'paymentDate': datetime.date(2004, 8, 11),
  'amount': Decimal('2611.84'),
  'customerName': 'Dragon Souveniers, Ltd.'},
 {'paymentDate': datetime.date(2003, 12, 26),
  'amount': Decimal('105743.00'),
  'customerName': 'Dragon Souveniers, Ltd.'},
 {'paymentDate': datetime.date(2005, 3, 27),
  'amount': Decimal('3516.04'),
  'customerName': 'Dragon Souveniers, Ltd.'},
 {'paymentDate': datetime.date(2003, 12, 22),
  'amount': Decimal('58793.53'),
  'customerName': 'Muscle Machine Inc'},
 {'paymentDate': datetime.date(2004, 7, 26),
  'amount': Decimal('20314.44'),
  'customerName': 'Muscle Machine Inc'},
 {'paymentDate': datetime.date(2003, 6, 18),
  'amount': Decimal('58841.35'),
  'customerName': 'Muscle Machine Inc'},
 {'paymentDate': datetime.date(2004, 12, 14),
  'amount': Decimal('39964.63'),
  'customerName': 'Muscle Machine Inc'},
 {'paymentDate': datetime.date(2004, 11, 19),
  'amount': Decimal('35152.12'),
  'customerName': 'Diecast Classics Inc.'},
 {'paymentDate': datetime.date(2004, 9, 7),
  'amount': Decimal('63357.13'),
  'customerName': 'Diecast Classics Inc.'},
 {'paymentDate': datetime.date(2004, 11, 14),
  'amount': Decimal('2434.25'),
  'customerName': 'Technics Stores Inc.'},
 {'paymentDate': datetime.date(2003, 11, 18),
  'amount': Decimal('50743.65'),
  'customerName': 'Technics Stores Inc.'},
 {'paymentDate': datetime.date(2005, 2, 2),
  'amount': Decimal('12692.19'),
  'customerName': 'Technics Stores Inc.'},
 {'paymentDate': datetime.date(2003, 8, 5),
  'amount': Decimal('38675.13'),
  'customerName': 'Technics Stores Inc.'},
 {'paymentDate': datetime.date(2004, 9, 16),
  'amount': Decimal('38785.48'),
  'customerName': 'Handji Gifts& Co'},
 {'paymentDate': datetime.date(2004, 7, 7),
  'amount': Decimal('44160.92'),
  'customerName': 'Handji Gifts& Co'},
 {'paymentDate': datetime.date(2004, 2, 28),
  'amount': Decimal('22474.17'),
  'customerName': 'Handji Gifts& Co'},
 {'paymentDate': datetime.date(2004, 9, 19),
  'amount': Decimal('12538.01'),
  'customerName': 'Herkku Gifts'},
 {'paymentDate': datetime.date(2003, 12, 3),
  'amount': Decimal('85024.46'),
  'customerName': 'Herkku Gifts'},
 {'paymentDate': datetime.date(2004, 3, 15),
  'amount': Decimal('18997.89'),
  'customerName': 'Daedalus Designs Imports'},
 {'paymentDate': datetime.date(2003, 11, 22),
  'amount': Decimal('42783.81'),
  'customerName': 'Daedalus Designs Imports'},
 {'paymentDate': datetime.date(2004, 9, 9),
  'amount': Decimal('1960.80'),
  'customerName': "La Corne D'abondance, Co."},
 {'paymentDate': datetime.date(2004, 12, 4),
  'amount': Decimal('51209.58'),
  'customerName': "La Corne D'abondance, Co."},
 {'paymentDate': datetime.date(2003, 4, 20),
  'amount': Decimal('33383.14'),
  'customerName': "La Corne D'abondance, Co."},
 {'paymentDate': datetime.date(2004, 5, 13),
  'amount': Decimal('11843.45'),
  'customerName': 'Cambridge Collectables Co.'},
 {'paymentDate': datetime.date(2004, 3, 29),
  'amount': Decimal('20355.24'),
  'customerName': 'Cambridge Collectables Co.'},
 {'paymentDate': datetime.date(2005, 5, 19),
  'amount': Decimal('28500.78'),
  'customerName': 'Gift Depot Inc.'},
 {'paymentDate': datetime.date(2003, 11, 19),
  'amount': Decimal('24879.08'),
  'customerName': 'Gift Depot Inc.'},
 {'paymentDate': datetime.date(2004, 7, 10),
  'amount': Decimal('42044.77'),
  'customerName': 'Gift Depot Inc.'},
 {'paymentDate': datetime.date(2004, 4, 17),
  'amount': Decimal('15183.63'),
  'customerName': 'Osaka Souveniers Co.'},
 {'paymentDate': datetime.date(2004, 1, 19),
  'amount': Decimal('47177.59'),
  'customerName': 'Osaka Souveniers Co.'},
 {'paymentDate': datetime.date(2004, 4, 25),
  'amount': Decimal('22602.36'),
  'customerName': 'Vitachrome Inc.'},
 {'paymentDate': datetime.date(2003, 1, 30),
  'amount': Decimal('5494.78'),
  'customerName': 'Vitachrome Inc.'},
 {'paymentDate': datetime.date(2004, 11, 16),
  'amount': Decimal('44400.50'),
  'customerName': 'Vitachrome Inc.'},
 {'paymentDate': datetime.date(2005, 3, 10),
  'amount': Decimal('23602.90'),
  'customerName': 'Toys of Finland, Co.'},
 {'paymentDate': datetime.date(2003, 10, 27),
  'amount': Decimal('37602.48'),
  'customerName': 'Toys of Finland, Co.'},
 {'paymentDate': datetime.date(2004, 10, 21),
  'amount': Decimal('34341.08'),
  'customerName': 'Toys of Finland, Co.'},
 {'paymentDate': datetime.date(2004, 11, 3),
  'amount': Decimal('52825.29'),
  'customerName': 'AV Stores, Co.'},
 {'paymentDate': datetime.date(2004, 12, 8),
  'amount': Decimal('47159.11'),
  'customerName': 'AV Stores, Co.'},
 {'paymentDate': datetime.date(2003, 3, 27),
  'amount': Decimal('48425.69'),
  'customerName': 'AV Stores, Co.'},
 {'paymentDate': datetime.date(2004, 10, 3),
  'amount': Decimal('17359.53'),
  'customerName': 'Clover Collections, Co.'},
 {'paymentDate': datetime.date(2004, 3, 1),
  'amount': Decimal('32538.74'),
  'customerName': 'Clover Collections, Co.'},
 {'paymentDate': datetime.date(2004, 12, 6),
  'amount': Decimal('9658.74'),
  'customerName': 'Auto-Moto Classics Inc.'},
 {'paymentDate': datetime.date(2003, 7, 6),
  'amount': Decimal('6036.96'),
  'customerName': 'Auto-Moto Classics Inc.'},
 {'paymentDate': datetime.date(2004, 9, 21),
  'amount': Decimal('5858.56'),
  'customerName': 'Auto-Moto Classics Inc.'},
 {'paymentDate': datetime.date(2003, 10, 20),
  'amount': Decimal('23908.24'),
  'customerName': 'UK Collectables, Ltd.'},
 {'paymentDate': datetime.date(2004, 6, 15),
  'amount': Decimal('37258.94'),
  'customerName': 'UK Collectables, Ltd.'},
 {'paymentDate': datetime.date(2003, 12, 18),
  'amount': Decimal('36527.61'),
  'customerName': 'Canadian Gift Exchange Network'},
 {'paymentDate': datetime.date(2004, 11, 8),
  'amount': Decimal('33594.58'),
  'customerName': 'Canadian Gift Exchange Network'},
 {'paymentDate': datetime.date(2004, 8, 13),
  'amount': Decimal('51152.86'),
  'customerName': 'Online Mini Collectables'},
 {'paymentDate': datetime.date(2004, 9, 24),
  'amount': Decimal('4424.40'),
  'customerName': 'Online Mini Collectables'},
 {'paymentDate': datetime.date(2003, 12, 4),
  'amount': Decimal('3879.96'),
  'customerName': 'Toys4GrownUps.com'},
 {'paymentDate': datetime.date(2003, 9, 5),
  'amount': Decimal('50342.74'),
  'customerName': 'Toys4GrownUps.com'},
 {'paymentDate': datetime.date(2005, 2, 6),
  'amount': Decimal('39580.60'),
  'customerName': 'Toys4GrownUps.com'},
 {'paymentDate': datetime.date(2005, 5, 3),
  'amount': Decimal('35157.75'),
  'customerName': 'Mini Caravy'},
 {'paymentDate': datetime.date(2004, 6, 21),
  'amount': Decimal('4632.31'),
  'customerName': 'Mini Caravy'},
 {'paymentDate': datetime.date(2004, 5, 4),
  'amount': Decimal('36069.26'),
  'customerName': 'Mini Caravy'},
 {'paymentDate': datetime.date(2003, 12, 9),
  'amount': Decimal('45480.79'),
  'customerName': 'King Kong Collectables, Co.'},
 {'paymentDate': datetime.date(2003, 5, 9),
  'amount': Decimal('3101.40'),
  'customerName': 'Enaco Distributors'},
 {'paymentDate': datetime.date(2004, 12, 6),
  'amount': Decimal('24945.21'),
  'customerName': 'Enaco Distributors'},
 {'paymentDate': datetime.date(2003, 12, 14),
  'amount': Decimal('40473.86'),
  'customerName': 'Enaco Distributors'},
 {'paymentDate': datetime.date(2005, 3, 2),
  'amount': Decimal('3452.75'),
  'customerName': 'Boards & Toys Co.'},
 {'paymentDate': datetime.date(2003, 10, 18),
  'amount': Decimal('4465.85'),
  'customerName': 'Boards & Toys Co.'},
 {'paymentDate': datetime.date(2003, 10, 31),
  'amount': Decimal('36164.46'),
  'customerName': 'Heintze Collectables'},
 {'paymentDate': datetime.date(2004, 11, 2),
  'amount': Decimal('53745.34'),
  'customerName': 'Heintze Collectables'},
 {'paymentDate': datetime.date(2005, 5, 20),
  'amount': Decimal('29070.38'),
  'customerName': 'Québec Home Shopping Network'},
 {'paymentDate': datetime.date(2004, 7, 1),
  'amount': Decimal('22997.45'),
  'customerName': 'Québec Home Shopping Network'},
 {'paymentDate': datetime.date(2003, 11, 18),
  'amount': Decimal('16909.84'),
  'customerName': 'Québec Home Shopping Network'},
 {'paymentDate': datetime.date(2004, 3, 15),
  'amount': Decimal('80375.24'),
  'customerName': 'Collectable Mini Designs Co.'},
 {'paymentDate': datetime.date(2004, 11, 16),
  'amount': Decimal('46788.14'),
  'customerName': 'giftsbymail.co.uk'},
 {'paymentDate': datetime.date(2004, 3, 28),
  'amount': Decimal('24995.61'),
  'customerName': 'giftsbymail.co.uk'},
 {'paymentDate': datetime.date(2003, 11, 22),
  'amount': Decimal('33818.34'),
  'customerName': 'Alpha Cognac'},
 {'paymentDate': datetime.date(2005, 6, 3),
  'amount': Decimal('12432.32'),
  'customerName': 'Alpha Cognac'},
 {'paymentDate': datetime.date(2003, 7, 21),
  'amount': Decimal('14232.70'),
  'customerName': 'Alpha Cognac'},
 {'paymentDate': datetime.date(2004, 9, 19),
  'amount': Decimal('33924.24'),
  'customerName': 'Amica Models & Co.'},
 {'paymentDate': datetime.date(2004, 9, 4),
  'amount': Decimal('48298.99'),
  'customerName': 'Amica Models & Co.'},
 {'paymentDate': datetime.date(2005, 5, 17),
  'amount': Decimal('17928.09'),
  'customerName': 'Lyon Souveniers'},
 {'paymentDate': datetime.date(2004, 12, 30),
  'amount': Decimal('26311.63'),
  'customerName': 'Lyon Souveniers'},
 {'paymentDate': datetime.date(2003, 7, 18),
  'amount': Decimal('23419.47'),
  'customerName': 'Lyon Souveniers'},
 {'paymentDate': datetime.date(2004, 2, 10),
  'amount': Decimal('5759.42'),
  'customerName': 'Auto Associés & Cie.'},
 {'paymentDate': datetime.date(2004, 10, 22),
  'amount': Decimal('53116.99'),
  'customerName': 'Auto Associés & Cie.'},
 {'paymentDate': datetime.date(2004, 11, 6),
  'amount': Decimal('61234.67'),
  'customerName': 'Toms Spezialitäten, Ltd'},
 {'paymentDate': datetime.date(2003, 12, 7),
  'amount': Decimal('27988.47'),
  'customerName': 'Toms Spezialitäten, Ltd'},
 {'paymentDate': datetime.date(2004, 8, 30),
  'amount': Decimal('37527.58'),
  'customerName': 'Royal Canadian Collectables, Ltd.'},
 {'paymentDate': datetime.date(2004, 4, 24),
  'amount': Decimal('29284.42'),
  'customerName': 'Royal Canadian Collectables, Ltd.'},
 {'paymentDate': datetime.date(2005, 2, 9),
  'amount': Decimal('27083.78'),
  'customerName': "Anna's Decorations, Ltd"},
 {'paymentDate': datetime.date(2003, 11, 13),
  'amount': Decimal('38547.19'),
  'customerName': "Anna's Decorations, Ltd"},
 {'paymentDate': datetime.date(2003, 9, 28),
  'amount': Decimal('41554.73'),
  'customerName': "Anna's Decorations, Ltd"},
 {'paymentDate': datetime.date(2005, 4, 30),
  'amount': Decimal('29848.52'),
  'customerName': "Anna's Decorations, Ltd"},
 {'paymentDate': datetime.date(2004, 12, 5),
  'amount': Decimal('37654.09'),
  'customerName': 'Rovelli Gifts'},
 {'paymentDate': datetime.date(2003, 3, 2),
  'amount': Decimal('52151.81'),
  'customerName': 'Rovelli Gifts'},
 {'paymentDate': datetime.date(2003, 11, 24),
  'amount': Decimal('37723.79'),
  'customerName': 'Rovelli Gifts'},
 {'paymentDate': datetime.date(2003, 8, 3),
  'amount': Decimal('24013.52'),
  'customerName': 'Souveniers And Things Co.'},
 {'paymentDate': datetime.date(2004, 8, 2),
  'amount': Decimal('35806.73'),
  'customerName': 'Souveniers And Things Co.'},
 {'paymentDate': datetime.date(2005, 1, 3),
  'amount': Decimal('31835.36'),
  'customerName': 'Souveniers And Things Co.'},
 {'paymentDate': datetime.date(2004, 10, 28),
  'amount': Decimal('47411.33'),
  'customerName': "Marta's Replicas Co."},
 {'paymentDate': datetime.date(2004, 9, 5),
  'amount': Decimal('43134.04'),
  'customerName': "Marta's Replicas Co."},
 {'paymentDate': datetime.date(2004, 3, 13),
  'amount': Decimal('47375.92'),
  'customerName': 'Vida Sport, Ltd'},
 {'paymentDate': datetime.date(2004, 9, 18),
  'amount': Decimal('61402.00'),
  'customerName': 'Vida Sport, Ltd'},
 {'paymentDate': datetime.date(2003, 10, 24),
  'amount': Decimal('36798.88'),
  'customerName': 'Norway Gifts By Mail, Co.'},
 {'paymentDate': datetime.date(2004, 9, 5),
  'amount': Decimal('32260.16'),
  'customerName': 'Norway Gifts By Mail, Co.'},
 {'paymentDate': datetime.date(2005, 2, 15),
  'amount': Decimal('46770.52'),
  'customerName': 'Oulu Toy Supplies, Inc.'},
 {'paymentDate': datetime.date(2003, 10, 6),
  'amount': Decimal('32723.04'),
  'customerName': 'Oulu Toy Supplies, Inc.'},
 {'paymentDate': datetime.date(2004, 4, 25),
  'amount': Decimal('16212.59'),
  'customerName': 'Oulu Toy Supplies, Inc.'},
 {'paymentDate': datetime.date(2004, 8, 9),
  'amount': Decimal('45352.47'),
  'customerName': 'Petit Auto'},
 {'paymentDate': datetime.date(2004, 3, 3),
  'amount': Decimal('16901.38'),
  'customerName': 'Petit Auto'},
 {'paymentDate': datetime.date(2004, 11, 6),
  'amount': Decimal('42339.76'),

In [65]:
for x1 in x:
    print(x1)

{'paymentDate': datetime.date(2004, 10, 19), 'amount': Decimal('6066.78'), 'customerName': 'Atelier graphique'}
{'paymentDate': datetime.date(2003, 6, 5), 'amount': Decimal('14571.44'), 'customerName': 'Atelier graphique'}
{'paymentDate': datetime.date(2004, 12, 18), 'amount': Decimal('1676.14'), 'customerName': 'Atelier graphique'}
{'paymentDate': datetime.date(2004, 12, 17), 'amount': Decimal('14191.12'), 'customerName': 'Signal Gift Stores'}
{'paymentDate': datetime.date(2003, 6, 6), 'amount': Decimal('32641.98'), 'customerName': 'Signal Gift Stores'}
{'paymentDate': datetime.date(2004, 8, 20), 'amount': Decimal('33347.88'), 'customerName': 'Signal Gift Stores'}
{'paymentDate': datetime.date(2003, 5, 20), 'amount': Decimal('45864.03'), 'customerName': 'Australian Collectors, Co.'}
{'paymentDate': datetime.date(2004, 12, 15), 'amount': Decimal('82261.22'), 'customerName': 'Australian Collectors, Co.'}
{'paymentDate': datetime.date(2003, 5, 31), 'amount': Decimal('7565.08'), 'customerName': 'Australian Collectors, Co.'}
{'paymentDate': datetime.date(2004, 3, 10), 'amount': Decimal('44894.74'), 'customerName': 'Australian Collectors, Co.'}
{'paymentDate': datetime.date(2004, 11, 14), 'amount': Decimal('19501.82'), 'customerName': 'La Rochelle Gifts'}
{'paymentDate': datetime.date(2004, 8, 8), 'amount': Decimal('47924.19'), 'customerName': 'La Rochelle Gifts'}
{'paymentDate': datetime.date(2005, 2, 22), 'amount': Decimal('49523.67'), 'customerName': 'La Rochelle Gifts'}
{'paymentDate': datetime.date(2003, 2, 16), 'amount': Decimal('50218.95'), 'customerName': 'Baane Mini Imports'}
{'paymentDate': datetime.date(2003, 10, 28), 'amount': Decimal('1491.38'), 'customerName': 'Baane Mini Imports'}
{'paymentDate': datetime.date(2004, 11, 4), 'amount': Decimal('17876.32'), 'customerName': 'Baane Mini Imports'}
{'paymentDate': datetime.date(2004, 11, 28), 'amount': Decimal('34638.14'), 'customerName': 'Baane Mini Imports'}
{'paymentDate': datetime.date(2005, 3, 5), 'amount': Decimal('101244.59'), 'customerName': 'Mini Gifts Distributors Ltd.'}
{'paymentDate': datetime.date(2004, 8, 28), 'amount': Decimal('85410.87'), 'customerName': 'Mini Gifts Distributors Ltd.'}
{'paymentDate': datetime.date(2003, 4, 11), 'amount': Decimal('11044.30'), 'customerName': 'Mini Gifts Distributors Ltd.'}
{'paymentDate': datetime.date(2005, 4, 16), 'amount': Decimal('83598.04'), 'customerName': 'Mini Gifts Distributors Ltd.'}
{'paymentDate': datetime.date(2004, 12, 27), 'amount': Decimal('47142.70'), 'customerName': 'Mini Gifts Distributors Ltd.'}
{'paymentDate': datetime.date(2004, 11, 2), 'amount': Decimal('55639.66'), 'customerName': 'Mini Gifts Distributors Ltd.'}
{'paymentDate': datetime.date(2003, 8, 15), 'amount': Decimal('111654.40'), 'customerName': 'Mini Gifts Distributors Ltd.'}
{'paymentDate': datetime.date(2004, 3, 26), 'amount': Decimal('43369.30'), 'customerName': 'Mini Gifts Distributors Ltd.'}
{'paymentDate': datetime.date(2003, 11, 25), 'amount': Decimal('45084.38'), 'customerName': 'Mini Gifts Distributors Ltd.'}
{'paymentDate': datetime.date(2003, 1, 28), 'amount': Decimal('10549.01'), 'customerName': 'Blauer See Auto, Co.'}
{'paymentDate': datetime.date(2003, 10, 18), 'amount': Decimal('24101.81'), 'customerName': 'Blauer See Auto, Co.'}
{'paymentDate': datetime.date(2004, 3, 24), 'amount': Decimal('33820.62'), 'customerName': 'Blauer See Auto, Co.'}
{'paymentDate': datetime.date(2004, 11, 18), 'amount': Decimal('7466.32'), 'customerName': 'Blauer See Auto, Co.'}
{'paymentDate': datetime.date(2004, 12, 8), 'amount': Decimal('26248.78'), 'customerName': 'Mini Wheels Co.'}
{'paymentDate': datetime.date(2003, 12, 11), 'amount': Decimal('23923.93'), 'customerName': 'Mini Wheels Co.'}
{'paymentDate': datetime.date(2003, 4, 9), 'amount': Decimal('16537.85'), 'customerName': 'Mini Wheels Co.'}
{'paymentDate': datetime.date(2003, 3, 12), 'amount': Decimal('22292.62'), 'customerName': 'Land of Toys Inc.'}
{'paymentDate': datetime.date(2004, 12, 2), 'amount': Decimal('50025.35'), 'customerName': 'Land of Toys Inc.'}
{'paymentDate': datetime.date(2004, 9, 11), 'amount': Decimal('35321.97'), 'customerName': 'Land of Toys Inc.'}
{'paymentDate': datetime.date(2003, 7, 19), 'amount': Decimal('36251.03'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2004, 11, 1), 'amount': Decimal('36140.38'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2005, 5, 19), 'amount': Decimal('46895.48'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2004, 1, 30), 'amount': Decimal('59830.55'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2004, 12, 31), 'amount': Decimal('116208.40'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2005, 3, 25), 'amount': Decimal('65071.26'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2005, 3, 18), 'amount': Decimal('120166.58'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2003, 10, 26), 'amount': Decimal('49539.37'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2003, 2, 25), 'amount': Decimal('40206.20'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2003, 12, 9), 'amount': Decimal('63843.55'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2004, 7, 9), 'amount': Decimal('35420.74'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2004, 8, 16), 'amount': Decimal('20009.53'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2004, 5, 17), 'amount': Decimal('26155.91'), 'customerName': 'Euro+ Shopping Channel'}
{'paymentDate': datetime.date(2004, 12, 12), 'amount': Decimal('36005.71'), 'customerName': 'Volvo Model Replicas, Co'}
{'paymentDate': datetime.date(2003, 4, 9), 'amount': Decimal('7674.94'), 'customerName': 'Volvo Model Replicas, Co'}
{'paymentDate': datetime.date(2004, 7, 3), 'amount': Decimal('4710.73'), 'customerName': 'Danish Wholesale Imports'}
{'paymentDate': datetime.date(2004, 4, 26), 'amount': Decimal('28211.70'), 'customerName': 'Danish Wholesale Imports'}
{'paymentDate': datetime.date(2004, 12, 1), 'amount': Decimal('20564.86'), 'customerName': 'Danish Wholesale Imports'}
{'paymentDate': datetime.date(2003, 2, 20), 'amount': Decimal('53959.21'), 'customerName': 'Danish Wholesale Imports'}
{'paymentDate': datetime.date(2004, 3, 18), 'amount': Decimal('40978.53'), 'customerName': 'Saveley & Henriot, Co.'}
{'paymentDate': datetime.date(2004, 1, 16), 'amount': Decimal('49614.72'), 'customerName': 'Saveley & Henriot, Co.'}
{'paymentDate': datetime.date(2003, 12, 10), 'amount': Decimal('39712.10'), 'customerName': 'Saveley & Henriot, Co.'}
{'paymentDate': datetime.date(2003, 4, 22), 'amount': Decimal('44380.15'), 'customerName': 'Dragon Souveniers, Ltd.'}
{'paymentDate': datetime.date(2004, 8, 11), 'amount': Decimal('2611.84'), 'customerName': 'Dragon Souveniers, Ltd.'}
{'paymentDate': datetime.date(2003, 12, 26), 'amount': Decimal('105743.00'), 'customerName': 'Dragon Souveniers, Ltd.'}
{'paymentDate': datetime.date(2005, 3, 27), 'amount': Decimal('3516.04'), 'customerName': 'Dragon Souveniers, Ltd.'}
{'paymentDate': datetime.date(2003, 12, 22), 'amount': Decimal('58793.53'), 'customerName': 'Muscle Machine Inc'}
{'paymentDate': datetime.date(2004, 7, 26), 'amount': Decimal('20314.44'), 'customerName': 'Muscle Machine Inc'}
{'paymentDate': datetime.date(2003, 6, 18), 'amount': Decimal('58841.35'), 'customerName': 'Muscle Machine Inc'}
{'paymentDate': datetime.date(2004, 12, 14), 'amount': Decimal('39964.63'), 'customerName': 'Muscle Machine Inc'}
{'paymentDate': datetime.date(2004, 11, 19), 'amount': Decimal('35152.12'), 'customerName': 'Diecast Classics Inc.'}
{'paymentDate': datetime.date(2004, 9, 7), 'amount': Decimal('63357.13'), 'customerName': 'Diecast Classics Inc.'}
{'paymentDate': datetime.date(2004, 11, 14), 'amount': Decimal('2434.25'), 'customerName': 'Technics Stores Inc.'}
{'paymentDate': datetime.date(2003, 11, 18), 'amount': Decimal('50743.65'), 'customerName': 'Technics Stores Inc.'}
{'paymentDate': datetime.date(2005, 2, 2), 'amount': Decimal('12692.19'), 'customerName': 'Technics Stores Inc.'}
{'paymentDate': datetime.date(2003, 8, 5), 'amount': Decimal('38675.13'), 'customerName': 'Technics Stores Inc.'}
{'paymentDate': datetime.date(2004, 9, 16), 'amount': Decimal('38785.48'), 'customerName': 'Handji Gifts& Co'}
{'paymentDate': datetime.date(2004, 7, 7), 'amount': Decimal('44160.92'), 'customerName': 'Handji Gifts& Co'}
{'paymentDate': datetime.date(2004, 2, 28), 'amount': Decimal('22474.17'), 'customerName': 'Handji Gifts& Co'}
{'paymentDate': datetime.date(2004, 9, 19), 'amount': Decimal('12538.01'), 'customerName': 'Herkku Gifts'}
{'paymentDate': datetime.date(2003, 12, 3), 'amount': Decimal('85024.46'), 'customerName': 'Herkku Gifts'}
{'paymentDate': datetime.date(2004, 3, 15), 'amount': Decimal('18997.89'), 'customerName': 'Daedalus Designs Imports'}
{'paymentDate': datetime.date(2003, 11, 22), 'amount': Decimal('42783.81'), 'customerName': 'Daedalus Designs Imports'}
{'paymentDate': datetime.date(2004, 9, 9), 'amount': Decimal('1960.80'), 'customerName': "La Corne D'abondance, Co."}
{'paymentDate': datetime.date(2004, 12, 4), 'amount': Decimal('51209.58'), 'customerName': "La Corne D'abondance, Co."}
{'paymentDate': datetime.date(2003, 4, 20), 'amount': Decimal('33383.14'), 'customerName': "La Corne D'abondance, Co."}
{'paymentDate': datetime.date(2004, 5, 13), 'amount': Decimal('11843.45'), 'customerName': 'Cambridge Collectables Co.'}
{'paymentDate': datetime.date(2004, 3, 29), 'amount': Decimal('20355.24'), 'customerName': 'Cambridge Collectables Co.'}
{'paymentDate': datetime.date(2005, 5, 19), 'amount': Decimal('28500.78'), 'customerName': 'Gift Depot Inc.'}
{'paymentDate': datetime.date(2003, 11, 19), 'amount': Decimal('24879.08'), 'customerName': 'Gift Depot Inc.'}
{'paymentDate': datetime.date(2004, 7, 10), 'amount': Decimal('42044.77'), 'customerName': 'Gift Depot Inc.'}
{'paymentDate': datetime.date(2004, 4, 17), 'amount': Decimal('15183.63'), 'customerName': 'Osaka Souveniers Co.'}
{'paymentDate': datetime.date(2004, 1, 19), 'amount': Decimal('47177.59'), 'customerName': 'Osaka Souveniers Co.'}
{'paymentDate': datetime.date(2004, 4, 25), 'amount': Decimal('22602.36'), 'customerName': 'Vitachrome Inc.'}
{'paymentDate': datetime.date(2003, 1, 30), 'amount': Decimal('5494.78'), 'customerName': 'Vitachrome Inc.'}
{'paymentDate': datetime.date(2004, 11, 16), 'amount': Decimal('44400.50'), 'customerName': 'Vitachrome Inc.'}
{'paymentDate': datetime.date(2005, 3, 10), 'amount': Decimal('23602.90'), 'customerName': 'Toys of Finland, Co.'}
{'paymentDate': datetime.date(2003, 10, 27), 'amount': Decimal('37602.48'), 'customerName': 'Toys of Finland, Co.'}
{'paymentDate': datetime.date(2004, 10, 21), 'amount': Decimal('34341.08'), 'customerName': 'Toys of Finland, Co.'}
{'paymentDate': datetime.date(2004, 11, 3), 'amount': Decimal('52825.29'), 'customerName': 'AV Stores, Co.'}
{'paymentDate': datetime.date(2004, 12, 8), 'amount': Decimal('47159.11'), 'customerName': 'AV Stores, Co.'}
{'paymentDate': datetime.date(2003, 3, 27), 'amount': Decimal('48425.69'), 'customerName': 'AV Stores, Co.'}
{'paymentDate': datetime.date(2004, 10, 3), 'amount': Decimal('17359.53'), 'customerName': 'Clover Collections, Co.'}
{'paymentDate': datetime.date(2004, 3, 1), 'amount': Decimal('32538.74'), 'customerName': 'Clover Collections, Co.'}
{'paymentDate': datetime.date(2004, 12, 6), 'amount': Decimal('9658.74'), 'customerName': 'Auto-Moto Classics Inc.'}
{'paymentDate': datetime.date(2003, 7, 6), 'amount': Decimal('6036.96'), 'customerName': 'Auto-Moto Classics Inc.'}
{'paymentDate': datetime.date(2004, 9, 21), 'amount': Decimal('5858.56'), 'customerName': 'Auto-Moto Classics Inc.'}
{'paymentDate': datetime.date(2003, 10, 20), 'amount': Decimal('23908.24'), 'customerName': 'UK Collectables, Ltd.'}
{'paymentDate': datetime.date(2004, 6, 15), 'amount': Decimal('37258.94'), 'customerName': 'UK Collectables, Ltd.'}
{'paymentDate': datetime.date(2003, 12, 18), 'amount': Decimal('36527.61'), 'customerName': 'Canadian Gift Exchange Network'}
{'paymentDate': datetime.date(2004, 11, 8), 'amount': Decimal('33594.58'), 'customerName': 'Canadian Gift Exchange Network'}
{'paymentDate': datetime.date(2004, 8, 13), 'amount': Decimal('51152.86'), 'customerName': 'Online Mini Collectables'}
{'paymentDate': datetime.date(2004, 9, 24), 'amount': Decimal('4424.40'), 'customerName': 'Online Mini Collectables'}
{'paymentDate': datetime.date(2003, 12, 4), 'amount': Decimal('3879.96'), 'customerName': 'Toys4GrownUps.com'}
{'paymentDate': datetime.date(2003, 9, 5), 'amount': Decimal('50342.74'), 'customerName': 'Toys4GrownUps.com'}
{'paymentDate': datetime.date(2005, 2, 6), 'amount': Decimal('39580.60'), 'customerName': 'Toys4GrownUps.com'}
{'paymentDate': datetime.date(2005, 5, 3), 'amount': Decimal('35157.75'), 'customerName': 'Mini Caravy'}
{'paymentDate': datetime.date(2004, 6, 21), 'amount': Decimal('4632.31'), 'customerName': 'Mini Caravy'}
{'paymentDate': datetime.date(2004, 5, 4), 'amount': Decimal('36069.26'), 'customerName': 'Mini Caravy'}
{'paymentDate': datetime.date(2003, 12, 9), 'amount': Decimal('45480.79'), 'customerName': 'King Kong Collectables, Co.'}
{'paymentDate': datetime.date(2003, 5, 9), 'amount': Decimal('3101.40'), 'customerName': 'Enaco Distributors'}
{'paymentDate': datetime.date(2004, 12, 6), 'amount': Decimal('24945.21'), 'customerName': 'Enaco Distributors'}
{'paymentDate': datetime.date(2003, 12, 14), 'amount': Decimal('40473.86'), 'customerName': 'Enaco Distributors'}
{'paymentDate': datetime.date(2005, 3, 2), 'amount': Decimal('3452.75'), 'customerName': 'Boards & Toys Co.'}
{'paymentDate': datetime.date(2003, 10, 18), 'amount': Decimal('4465.85'), 'customerName': 'Boards & Toys Co.'}
{'paymentDate': datetime.date(2003, 10, 31), 'amount': Decimal('36164.46'), 'customerName': 'Heintze Collectables'}
{'paymentDate': datetime.date(2004, 11, 2), 'amount': Decimal('53745.34'), 'customerName': 'Heintze Collectables'}
{'paymentDate': datetime.date(2005, 5, 20), 'amount': Decimal('29070.38'), 'customerName': 'Québec Home Shopping Network'}
{'paymentDate': datetime.date(2004, 7, 1), 'amount': Decimal('22997.45'), 'customerName': 'Québec Home Shopping Network'}
{'paymentDate': datetime.date(2003, 11, 18), 'amount': Decimal('16909.84'), 'customerName': 'Québec Home Shopping Network'}
{'paymentDate': datetime.date(2004, 3, 15), 'amount': Decimal('80375.24'), 'customerName': 'Collectable Mini Designs Co.'}
{'paymentDate': datetime.date(2004, 11, 16), 'amount': Decimal('46788.14'), 'customerName': 'giftsbymail.co.uk'}
{'paymentDate': datetime.date(2004, 3, 28), 'amount': Decimal('24995.61'), 'customerName': 'giftsbymail.co.uk'}
{'paymentDate': datetime.date(2003, 11, 22), 'amount': Decimal('33818.34'), 'customerName': 'Alpha Cognac'}
{'paymentDate': datetime.date(2005, 6, 3), 'amount': Decimal('12432.32'), 'customerName': 'Alpha Cognac'}
{'paymentDate': datetime.date(2003, 7, 21), 'amount': Decimal('14232.70'), 'customerName': 'Alpha Cognac'}
{'paymentDate': datetime.date(2004, 9, 19), 'amount': Decimal('33924.24'), 'customerName': 'Amica Models & Co.'}
{'paymentDate': datetime.date(2004, 9, 4), 'amount': Decimal('48298.99'), 'customerName': 'Amica Models & Co.'}
{'paymentDate': datetime.date(2005, 5, 17), 'amount': Decimal('17928.09'), 'customerName': 'Lyon Souveniers'}
{'paymentDate': datetime.date(2004, 12, 30), 'amount': Decimal('26311.63'), 'customerName': 'Lyon Souveniers'}
{'paymentDate': datetime.date(2003, 7, 18), 'amount': Decimal('23419.47'), 'customerName': 'Lyon Souveniers'}
{'paymentDate': datetime.date(2004, 2, 10), 'amount': Decimal('5759.42'), 'customerName': 'Auto Associés & Cie.'}
{'paymentDate': datetime.date(2004, 10, 22), 'amount': Decimal('53116.99'), 'customerName': 'Auto Associés & Cie.'}
{'paymentDate': datetime.date(2004, 11, 6), 'amount': Decimal('61234.67'), 'customerName': 'Toms Spezialitäten, Ltd'}
{'paymentDate': datetime.date(2003, 12, 7), 'amount': Decimal('27988.47'), 'customerName': 'Toms Spezialitäten, Ltd'}
{'paymentDate': datetime.date(2004, 8, 30), 'amount': Decimal('37527.58'), 'customerName': 'Royal Canadian Collectables, Ltd.'}
{'paymentDate': datetime.date(2004, 4, 24), 'amount': Decimal('29284.42'), 'customerName': 'Royal Canadian Collectables, Ltd.'}
{'paymentDate': datetime.date(2005, 2, 9), 'amount': Decimal('27083.78'), 'customerName': "Anna's Decorations, Ltd"}
{'paymentDate': datetime.date(2003, 11, 13), 'amount': Decimal('38547.19'), 'customerName': "Anna's Decorations, Ltd"}
{'paymentDate': datetime.date(2003, 9, 28), 'amount': Decimal('41554.73'), 'customerName': "Anna's Decorations, Ltd"}
{'paymentDate': datetime.date(2005, 4, 30), 'amount': Decimal('29848.52'), 'customerName': "Anna's Decorations, Ltd"}
{'paymentDate': datetime.date(2004, 12, 5), 'amount': Decimal('37654.09'), 'customerName': 'Rovelli Gifts'}
{'paymentDate': datetime.date(2003, 3, 2), 'amount': Decimal('52151.81'), 'customerName': 'Rovelli Gifts'}
{'paymentDate': datetime.date(2003, 11, 24), 'amount': Decimal('37723.79'), 'customerName': 'Rovelli Gifts'}
{'paymentDate': datetime.date(2003, 8, 3), 'amount': Decimal('24013.52'), 'customerName': 'Souveniers And Things Co.'}
{'paymentDate': datetime.date(2004, 8, 2), 'amount': Decimal('35806.73'), 'customerName': 'Souveniers And Things Co.'}
{'paymentDate': datetime.date(2005, 1, 3), 'amount': Decimal('31835.36'), 'customerName': 'Souveniers And Things Co.'}
{'paymentDate': datetime.date(2004, 10, 28), 'amount': Decimal('47411.33'), 'customerName': "Marta's Replicas Co."}
{'paymentDate': datetime.date(2004, 9, 5), 'amount': Decimal('43134.04'), 'customerName': "Marta's Replicas Co."}
{'paymentDate': datetime.date(2004, 3, 13), 'amount': Decimal('47375.92'), 'customerName': 'Vida Sport, Ltd'}
{'paymentDate': datetime.date(2004, 9, 18), 'amount': Decimal('61402.00'), 'customerName': 'Vida Sport, Ltd'}
{'paymentDate': datetime.date(2003, 10, 24), 'amount': Decimal('36798.88'), 'customerName': 'Norway Gifts By Mail, Co.'}
{'paymentDate': datetime.date(2004, 9, 5), 'amount': Decimal('32260.16'), 'customerName': 'Norway Gifts By Mail, Co.'}
{'paymentDate': datetime.date(2005, 2, 15), 'amount': Decimal('46770.52'), 'customerName': 'Oulu Toy Supplies, Inc.'}
{'paymentDate': datetime.date(2003, 10, 6), 'amount': Decimal('32723.04'), 'customerName': 'Oulu Toy Supplies, Inc.'}
{'paymentDate': datetime.date(2004, 4, 25), 'amount': Decimal('16212.59'), 'customerName': 'Oulu Toy Supplies, Inc.'}
{'paymentDate': datetime.date(2004, 8, 9), 'amount': Decimal('45352.47'), 'customerName': 'Petit Auto'}
{'paymentDate': datetime.date(2004, 3, 3), 'amount': Decimal('16901.38'), 'customerName': 'Petit Auto'}
{'paymentDate': datetime.date(2004, 11, 6), 'amount': Decimal('42339.76'), 'customerName': 'Mini Classics'}
{'paymentDate': datetime.date(2003, 12, 7), 'amount': Decimal('36092.40'), 'customerName': 'Mini Classics'}
{'paymentDate': datetime.date(2005, 1, 18), 'amount': Decimal('8307.28'), 'customerName': 'Mini Creations Ltd.'}
{'paymentDate': datetime.date(2003, 8, 20), 'amount': Decimal('41016.75'), 'customerName': 'Mini Creations Ltd.'}
{'paymentDate': datetime.date(2003, 11, 24), 'amount': Decimal('52548.49'), 'customerName': 'Mini Creations Ltd.'}
{'paymentDate': datetime.date(2003, 11, 3), 'amount': Decimal('85559.12'), 'customerName': 'Corporate Gift Ideas Co.'}
{'paymentDate': datetime.date(2005, 3, 15), 'amount': Decimal('46781.66'), 'customerName': 'Corporate Gift Ideas Co.'}
{'paymentDate': datetime.date(2005, 5, 23), 'amount': Decimal('75020.13'), 'customerName': 'Down Under Souveniers, Inc'}
{'paymentDate': datetime.date(2004, 6, 24), 'amount': Decimal('37281.36'), 'customerName': 'Down Under Souveniers, Inc'}

In [73]:
import pandas as pd
import datetime
from decimal import Decimal

# Preprocess data for DataFrame
processed_data = []
# for row in x:
#     processed_row = {key: (value.isoformat() if isinstance(value, datetime.date) else float(value) if isinstance(value, Decimal) else value) for key, value in row.items()}
#     processed_data.append(processed_row)

# # Create a DataFrame
df = pd.DataFrame(x)

# # Display the DataFrame as a table
print(df)

    paymentDate    amount          customerName
0    2004-10-19   6066.78     Atelier graphique
1    2003-06-05  14571.44     Atelier graphique
2    2004-12-18   1676.14     Atelier graphique
3    2004-12-17  14191.12    Signal Gift Stores
4    2003-06-06  32641.98    Signal Gift Stores
..          ...       ...                   ...
268  2003-12-26  59265.14  Diecast Collectables
269  2004-05-14   6276.60  Diecast Collectables
270  2005-05-25  30253.75     Kelly's Gift Shop
271  2003-07-16  32077.44     Kelly's Gift Shop
272  2004-12-31  52166.00     Kelly's Gift Shop

[273 rows x 3 columns]

In [48]:
x[0]

{'paymentDate': datetime.date(2004, 10, 19),
 'amount': Decimal('6066.78'),
 'customerName': 'Atelier graphique'}

In [79]:
# Sample data
data = [
    {'paymentDate': '2004-10-19', 'amount': '6066.78', 'customerName': 'Atelier graphique'},
    {'paymentDate': '2004-11-10', 'amount': '12000.00', 'customerName': 'Signal Gift Stores'},
    {'paymentDate': '2004-12-14', 'amount': '5200.50', 'customerName': 'Australian Collectors, Co.'}
]

# Generate HTML table
html = '<table border="1"><tr><th>Payment Date</th><th>Amount</th><th>Customer Name</th></tr>'
for row in data:
    html += '<tr>'
    html += f'<td>{row["paymentDate"]}</td>'
    html += f'<td>{row["amount"]}</td>'
    html += f'<td>{row["customerName"]}</td>'
    html += '</tr>'
html += '</table>'

# Print or save the HTML
print(html)

<table border="1"><tr><th>Payment Date</th><th>Amount</th><th>Customer Name</th></tr><tr><td>2004-10-19</td><td>6066.78</td><td>Atelier graphique</td></tr><tr><td>2004-11-10</td><td>12000.00</td><td>Signal Gift Stores</td></tr><tr><td>2004-12-14</td><td>5200.50</td><td>Australian Collectors, Co.</td></tr></table>

In [80]:
import csv
import datetime
from decimal import Decimal

# Assuming db._execute executes the SQL query and fetches the results as a list of dictionaries
x = db._execute('SELECT p.paymentDate, p.amount, c.customerName FROM payments p JOIN customers c ON p.customerNumber = c.customerNumber;')

# Extract column names from the keys of the first dictionary (assuming x is not empty)
column_names = x[0].keys()

# Preprocess data for CSV (convert datetime.date and Decimal to string)
# processed_data = []
# for row in x:
#     processed_row = {
#         key: (value.isoformat() if isinstance(value, datetime.date) else str(value) if isinstance(value, Decimal) else value)
#         for key, value in row.items()
#     }
#     # print(processed_row)
#     processed_data.append(processed_row)

# print(processed_data)
# Specify the CSV file name
csv_file_name = 'output.csv'

# Write the results to a CSV file
# with open(csv_file_name, mode='w', newline='') as file:
#     writer = csv.DictWriter(file, fieldnames=column_names)
#     writer.writeheader()
#     writer.writerows(x)

# print(f'Data successfully written to {csv_file_name}')

Data successfully written to output.csv

In [15]:
x

'[(datetime.date(2004, 10, 19), Decimal(\'6066.78\'), \'Atelier graphique\'), (datetime.date(2003, 6, 5), Decimal(\'14571.44\'), \'Atelier graphique\'), (datetime.date(2004, 12, 18), Decimal(\'1676.14\'), \'Atelier graphique\'), (datetime.date(2004, 12, 17), Decimal(\'14191.12\'), \'Signal Gift Stores\'), (datetime.date(2003, 6, 6), Decimal(\'32641.98\'), \'Signal Gift Stores\'), (datetime.date(2004, 8, 20), Decimal(\'33347.88\'), \'Signal Gift Stores\'), (datetime.date(2003, 5, 20), Decimal(\'45864.03\'), \'Australian Collectors, Co.\'), (datetime.date(2004, 12, 15), Decimal(\'82261.22\'), \'Australian Collectors, Co.\'), (datetime.date(2003, 5, 31), Decimal(\'7565.08\'), \'Australian Collectors, Co.\'), (datetime.date(2004, 3, 10), Decimal(\'44894.74\'), \'Australian Collectors, Co.\'), (datetime.date(2004, 11, 14), Decimal(\'19501.82\'), \'La Rochelle Gifts\'), (datetime.date(2004, 8, 8), Decimal(\'47924.19\'), \'La Rochelle Gifts\'), (datetime.date(2005, 2, 22), Decimal(\'49523.67\'), \'La Rochelle Gifts\'), (datetime.date(2003, 2, 16), Decimal(\'50218.95\'), \'Baane Mini Imports\'), (datetime.date(2003, 10, 28), Decimal(\'1491.38\'), \'Baane Mini Imports\'), (datetime.date(2004, 11, 4), Decimal(\'17876.32\'), \'Baane Mini Imports\'), (datetime.date(2004, 11, 28), Decimal(\'34638.14\'), \'Baane Mini Imports\'), (datetime.date(2005, 3, 5), Decimal(\'101244.59\'), \'Mini Gifts Distributors Ltd.\'), (datetime.date(2004, 8, 28), Decimal(\'85410.87\'), \'Mini Gifts Distributors Ltd.\'), (datetime.date(2003, 4, 11), Decimal(\'11044.30\'), \'Mini Gifts Distributors Ltd.\'), (datetime.date(2005, 4, 16), Decimal(\'83598.04\'), \'Mini Gifts Distributors Ltd.\'), (datetime.date(2004, 12, 27), Decimal(\'47142.70\'), \'Mini Gifts Distributors Ltd.\'), (datetime.date(2004, 11, 2), Decimal(\'55639.66\'), \'Mini Gifts Distributors Ltd.\'), (datetime.date(2003, 8, 15), Decimal(\'111654.40\'), \'Mini Gifts Distributors Ltd.\'), (datetime.date(2004, 3, 26), Decimal(\'43369.30\'), \'Mini Gifts Distributors Ltd.\'), (datetime.date(2003, 11, 25), Decimal(\'45084.38\'), \'Mini Gifts Distributors Ltd.\'), (datetime.date(2003, 1, 28), Decimal(\'10549.01\'), \'Blauer See Auto, Co.\'), (datetime.date(2003, 10, 18), Decimal(\'24101.81\'), \'Blauer See Auto, Co.\'), (datetime.date(2004, 3, 24), Decimal(\'33820.62\'), \'Blauer See Auto, Co.\'), (datetime.date(2004, 11, 18), Decimal(\'7466.32\'), \'Blauer See Auto, Co.\'), (datetime.date(2004, 12, 8), Decimal(\'26248.78\'), \'Mini Wheels Co.\'), (datetime.date(2003, 12, 11), Decimal(\'23923.93\'), \'Mini Wheels Co.\'), (datetime.date(2003, 4, 9), Decimal(\'16537.85\'), \'Mini Wheels Co.\'), (datetime.date(2003, 3, 12), Decimal(\'22292.62\'), \'Land of Toys Inc.\'), (datetime.date(2004, 12, 2), Decimal(\'50025.35\'), \'Land of Toys Inc.\'), (datetime.date(2004, 9, 11), Decimal(\'35321.97\'), \'Land of Toys Inc.\'), (datetime.date(2003, 7, 19), Decimal(\'36251.03\'), \'Euro+ Shopping Channel\'), (datetime.date(2004, 11, 1), Decimal(\'36140.38\'), \'Euro+ Shopping Channel\'), (datetime.date(2005, 5, 19), Decimal(\'46895.48\'), \'Euro+ Shopping Channel\'), (datetime.date(2004, 1, 30), Decimal(\'59830.55\'), \'Euro+ Shopping Channel\'), (datetime.date(2004, 12, 31), Decimal(\'116208.40\'), \'Euro+ Shopping Channel\'), (datetime.date(2005, 3, 25), Decimal(\'65071.26\'), \'Euro+ Shopping Channel\'), (datetime.date(2005, 3, 18), Decimal(\'120166.58\'), \'Euro+ Shopping Channel\'), (datetime.date(2003, 10, 26), Decimal(\'49539.37\'), \'Euro+ Shopping Channel\'), (datetime.date(2003, 2, 25), Decimal(\'40206.20\'), \'Euro+ Shopping Channel\'), (datetime.date(2003, 12, 9), Decimal(\'63843.55\'), \'Euro+ Shopping Channel\'), (datetime.date(2004, 7, 9), Decimal(\'35420.74\'), \'Euro+ Shopping Channel\'), (datetime.date(2004, 8, 16), Decimal(\'20009.53\'), \'Euro+ Shopping Channel\'), (datetime.date(2004, 5, 17), Decimal(\'26155.91\'), \'Euro+ Shopping Channel\'), (datetime.date(2004, 12, 12), Decimal(\'36005.71\'), \'Volvo Model Replicas, Co\'), (datetime.date(2003, 4, 9), Decimal(\'7674.94\'), \'Volvo Model Replicas, Co\'), (datetime.date(2004, 7, 3), Decimal(\'4710.73\'), \'Danish Wholesale Imports\'), (datetime.date(2004, 4, 26), Decimal(\'28211.70\'), \'Danish Wholesale Imports\'), (datetime.date(2004, 12, 1), Decimal(\'20564.86\'), \'Danish Wholesale Imports\'), (datetime.date(2003, 2, 20), Decimal(\'53959.21\'), \'Danish Wholesale Imports\'), (datetime.date(2004, 3, 18), Decimal(\'40978.53\'), \'Saveley & Henriot, Co.\'), (datetime.date(2004, 1, 16), Decimal(\'49614.72\'), \'Saveley & Henriot, Co.\'), (datetime.date(2003, 12, 10), Decimal(\'39712.10\'), \'Saveley & Henriot, Co.\'), (datetime.date(2003, 4, 22), Decimal(\'44380.15\'), \'Dragon Souveniers, Ltd.\'), (datetime.date(2004, 8, 11), Decimal(\'2611.84\'), \'Dragon Souveniers, Ltd.\'), (datetime.date(2003, 12, 26), Decimal(\'105743.00\'), \'Dragon Souveniers, Ltd.\'), (datetime.date(2005, 3, 27), Decimal(\'3516.04\'), \'Dragon Souveniers, Ltd.\'), (datetime.date(2003, 12, 22), Decimal(\'58793.53\'), \'Muscle Machine Inc\'), (datetime.date(2004, 7, 26), Decimal(\'20314.44\'), \'Muscle Machine Inc\'), (datetime.date(2003, 6, 18), Decimal(\'58841.35\'), \'Muscle Machine Inc\'), (datetime.date(2004, 12, 14), Decimal(\'39964.63\'), \'Muscle Machine Inc\'), (datetime.date(2004, 11, 19), Decimal(\'35152.12\'), \'Diecast Classics Inc.\'), (datetime.date(2004, 9, 7), Decimal(\'63357.13\'), \'Diecast Classics Inc.\'), (datetime.date(2004, 11, 14), Decimal(\'2434.25\'), \'Technics Stores Inc.\'), (datetime.date(2003, 11, 18), Decimal(\'50743.65\'), \'Technics Stores Inc.\'), (datetime.date(2005, 2, 2), Decimal(\'12692.19\'), \'Technics Stores Inc.\'), (datetime.date(2003, 8, 5), Decimal(\'38675.13\'), \'Technics Stores Inc.\'), (datetime.date(2004, 9, 16), Decimal(\'38785.48\'), \'Handji Gifts& Co\'), (datetime.date(2004, 7, 7), Decimal(\'44160.92\'), \'Handji Gifts& Co\'), (datetime.date(2004, 2, 28), Decimal(\'22474.17\'), \'Handji Gifts& Co\'), (datetime.date(2004, 9, 19), Decimal(\'12538.01\'), \'Herkku Gifts\'), (datetime.date(2003, 12, 3), Decimal(\'85024.46\'), \'Herkku Gifts\'), (datetime.date(2004, 3, 15), Decimal(\'18997.89\'), \'Daedalus Designs Imports\'), (datetime.date(2003, 11, 22), Decimal(\'42783.81\'), \'Daedalus Designs Imports\'), (datetime.date(2004, 9, 9), Decimal(\'1960.80\'), "La Corne D\'abondance, Co."), (datetime.date(2004, 12, 4), Decimal(\'51209.58\'), "La Corne D\'abondance, Co."), (datetime.date(2003, 4, 20), Decimal(\'33383.14\'), "La Corne D\'abondance, Co."), (datetime.date(2004, 5, 13), Decimal(\'11843.45\'), \'Cambridge Collectables Co.\'), (datetime.date(2004, 3, 29), Decimal(\'20355.24\'), \'Cambridge Collectables Co.\'), (datetime.date(2005, 5, 19), Decimal(\'28500.78\'), \'Gift Depot Inc.\'), (datetime.date(2003, 11, 19), Decimal(\'24879.08\'), \'Gift Depot Inc.\'), (datetime.date(2004, 7, 10), Decimal(\'42044.77\'), \'Gift Depot Inc.\'), (datetime.date(2004, 4, 17), Decimal(\'15183.63\'), \'Osaka Souveniers Co.\'), (datetime.date(2004, 1, 19), Decimal(\'47177.59\'), \'Osaka Souveniers Co.\'), (datetime.date(2004, 4, 25), Decimal(\'22602.36\'), \'Vitachrome Inc.\'), (datetime.date(2003, 1, 30), Decimal(\'5494.78\'), \'Vitachrome Inc.\'), (datetime.date(2004, 11, 16), Decimal(\'44400.50\'), \'Vitachrome Inc.\'), (datetime.date(2005, 3, 10), Decimal(\'23602.90\'), \'Toys of Finland, Co.\'), (datetime.date(2003, 10, 27), Decimal(\'37602.48\'), \'Toys of Finland, Co.\'), (datetime.date(2004, 10, 21), Decimal(\'34341.08\'), \'Toys of Finland, Co.\'), (datetime.date(2004, 11, 3), Decimal(\'52825.29\'), \'AV Stores, Co.\'), (datetime.date(2004, 12, 8), Decimal(\'47159.11\'), \'AV Stores, Co.\'), (datetime.date(2003, 3, 27), Decimal(\'48425.69\'), \'AV Stores, Co.\'), (datetime.date(2004, 10, 3), Decimal(\'17359.53\'), \'Clover Collections, Co.\'), (datetime.date(2004, 3, 1), Decimal(\'32538.74\'), \'Clover Collections, Co.\'), (datetime.date(2004, 12, 6), Decimal(\'9658.74\'), \'Auto-Moto Classics Inc.\'), (datetime.date(2003, 7, 6), Decimal(\'6036.96\'), \'Auto-Moto Classics Inc.\'), (datetime.date(2004, 9, 21), Decimal(\'5858.56\'), \'Auto-Moto Classics Inc.\'), (datetime.date(2003, 10, 20), Decimal(\'23908.24\'), \'UK Collectables, Ltd.\'), (datetime.date(2004, 6, 15), Decimal(\'37258.94\'), \'UK Collectables, Ltd.\'), (datetime.date(2003, 12, 18), Decimal(\'36527.61\'), \'Canadian Gift Exchange Network\'), (datetime.date(2004, 11, 8), Decimal(\'33594.58\'), \'Canadian Gift Exchange Network\'), (datetime.date(2004, 8, 13), Decimal(\'51152.86\'), \'Online Mini Collectables\'), (datetime.date(2004, 9, 24), Decimal(\'4424.40\'), \'Online Mini Collectables\'), (datetime.date(2003, 12, 4), Decimal(\'3879.96\'), \'Toys4GrownUps.com\'), (datetime.date(2003, 9, 5), Decimal(\'50342.74\'), \'Toys4GrownUps.com\'), (datetime.date(2005, 2, 6), Decimal(\'39580.60\'), \'Toys4GrownUps.com\'), (datetime.date(2005, 5, 3), Decimal(\'35157.75\'), \'Mini Caravy\'), (datetime.date(2004, 6, 21), Decimal(\'4632.31\'), \'Mini Caravy\'), (datetime.date(2004, 5, 4), Decimal(\'36069.26\'), \'Mini Caravy\'), (datetime.date(2003, 12, 9), Decimal(\'45480.79\'), \'King Kong Collectables, Co.\'), (datetime.date(2003, 5, 9), Decimal(\'3101.40\'), \'Enaco Distributors\'), (datetime.date(2004, 12, 6), Decimal(\'24945.21\'), \'Enaco Distributors\'), (datetime.date(2003, 12, 14), Decimal(\'40473.86\'), \'Enaco Distributors\'), (datetime.date(2005, 3, 2), Decimal(\'3452.75\'), \'Boards & Toys Co.\'), (datetime.date(2003, 10, 18), Decimal(\'4465.85\'), \'Boards & Toys Co.\'), (datetime.date(2003, 10, 31), Decimal(\'36164.46\'), \'Heintze Collectables\'), (datetime.date(2004, 11, 2), Decimal(\'53745.34\'), \'Heintze Collectables\'), (datetime.date(2005, 5, 20), Decimal(\'29070.38\'), \'Québec Home Shopping Network\'), (datetime.date(2004, 7, 1), Decimal(\'22997.45\'), \'Québec Home Shopping Network\'), (datetime.date(2003, 11, 18), Decimal(\'16909.84\'), \'Québec Home Shopping Network\'), (datetime.date(2004, 3, 15), Decimal(\'80375.24\'), \'Collectable Mini Designs Co.\'), (datetime.date(2004, 11, 16), Decimal(\'46788.14\'), \'giftsbymail.co.uk\'), (datetime.date(2004, 3, 28), Decimal(\'24995.61\'), \'giftsbymail.co.uk\'), (datetime.date(2003, 11, 22), Decimal(\'33818.34\'), \'Alpha Cognac\'), (datetime.date(2005, 6, 3), Decimal(\'12432.32\'), \'Alpha Cognac\'), (datetime.date(2003, 7, 21), Decimal(\'14232.70\'), \'Alpha Cognac\'), (datetime.date(2004, 9, 19), Decimal(\'33924.24\'), \'Amica Models & Co.\'), (datetime.date(2004, 9, 4), Decimal(\'48298.99\'), \'Amica Models & Co.\'), (datetime.date(2005, 5, 17), Decimal(\'17928.09\'), \'Lyon Souveniers\'), (datetime.date(2004, 12, 30), Decimal(\'26311.63\'), \'Lyon Souveniers\'), (datetime.date(2003, 7, 18), Decimal(\'23419.47\'), \'Lyon Souveniers\'), (datetime.date(2004, 2, 10), Decimal(\'5759.42\'), \'Auto Associés & Cie.\'), (datetime.date(2004, 10, 22), Decimal(\'53116.99\'), \'Auto Associés & Cie.\'), (datetime.date(2004, 11, 6), Decimal(\'61234.67\'), \'Toms Spezialitäten, Ltd\'), (datetime.date(2003, 12, 7), Decimal(\'27988.47\'), \'Toms Spezialitäten, Ltd\'), (datetime.date(2004, 8, 30), Decimal(\'37527.58\'), \'Royal Canadian Collectables, Ltd.\'), (datetime.date(2004, 4, 24), Decimal(\'29284.42\'), \'Royal Canadian Collectables, Ltd.\'), (datetime.date(2005, 2, 9), Decimal(\'27083.78\'), "Anna\'s Decorations, Ltd"), (datetime.date(2003, 11, 13), Decimal(\'38547.19\'), "Anna\'s Decorations, Ltd"), (datetime.date(2003, 9, 28), Decimal(\'41554.73\'), "Anna\'s Decorations, Ltd"), (datetime.date(2005, 4, 30), Decimal(\'29848.52\'), "Anna\'s Decorations, Ltd"), (datetime.date(2004, 12, 5), Decimal(\'37654.09\'), \'Rovelli Gifts\'), (datetime.date(2003, 3, 2), Decimal(\'52151.81\'), \'Rovelli Gifts\'), (datetime.date(2003, 11, 24), Decimal(\'37723.79\'), \'Rovelli Gifts\'), (datetime.date(2003, 8, 3), Decimal(\'24013.52\'), \'Souveniers And Things Co.\'), (datetime.date(2004, 8, 2), Decimal(\'35806.73\'), \'Souveniers And Things Co.\'), (datetime.date(2005, 1, 3), Decimal(\'31835.36\'), \'Souveniers And Things Co.\'), (datetime.date(2004, 10, 28), Decimal(\'47411.33\'), "Marta\'s Replicas Co."), (datetime.date(2004, 9, 5), Decimal(\'43134.04\'), "Marta\'s Replicas Co."), (datetime.date(2004, 3, 13), Decimal(\'47375.92\'), \'Vida Sport, Ltd\'), (datetime.date(2004, 9, 18), Decimal(\'61402.00\'), \'Vida Sport, Ltd\'), (datetime.date(2003, 10, 24), Decimal(\'36798.88\'), \'Norway Gifts By Mail, Co.\'), (datetime.date(2004, 9, 5), Decimal(\'32260.16\'), \'Norway Gifts By Mail, Co.\'), (datetime.date(2005, 2, 15), Decimal(\'46770.52\'), \'Oulu Toy Supplies, Inc.\'), (datetime.date(2003, 10, 6), Decimal(\'32723.04\'), \'Oulu Toy Supplies, Inc.\'), (datetime.date(2004, 4, 25), Decimal(\'16212.59\'), \'Oulu Toy Supplies, Inc.\'), (datetime.date(2004, 8, 9), Decimal(\'45352.47\'), \'Petit Auto\'), (datetime.date(2004, 3, 3), Decimal(\'16901.38\'), \'Petit Auto\'), (datetime.date(2004, 11, 6), Decimal(\'42339.76\'), \'Mini Classics\'), (datetime.date(2003, 12, 7), Decimal(\'36092.40\'), \'Mini Classics\'), (datetime.date(2005, 1, 18), Decimal(\'8307.28\'), \'Mini Creations Ltd.\'), (datetime.date(2003, 8, 20), Decimal(\'41016.75\'), \'Mini Creations Ltd.\'), (datetime.date(2003, 11, 24), Decimal(\'52548.49\'), \'Mini Creations Ltd.\'), (datetime.date(2003, 11, 3), Decimal(\'85559.12\'), \'Corporate Gift Ideas Co.\'), (datetime.date(2005, 3, 15), Decimal(\'46781.66\'), \'Corporate Gift Ideas Co.\'), (datetime.date(2005, 5, 23), Decimal(\'75020.13\'), \'Down Under Souveniers, Inc\'), (datetime.date(2004, 6, 24), Decimal(\'37281.36\'), \'Down Under Souveniers, Inc\'), (datetime.date(2003, 7, 5), Decimal(\'2880.00\'), \'Down Under Souveniers, Inc\'), (datetime.date(2004, 12, 24), Decimal(\'39440.59\'), \'Down Under Souveniers, Inc\'), (datetime.date(2004, 12, 13), Decimal(\'13671.82\'), \'Stylish Desk Decors, Co.\'), (datetime.date(2003, 7, 7), Decimal(\'29429.14\'), \'Stylish Desk Decors, Co.\'), (datetime.date(2003, 11, 23), Decimal(\'37455.77\'), \'Stylish Desk Decors, Co.\'), (datetime.date(2004, 4, 16), Decimal(\'7178.66\'), \'Tekni Collectables Inc.\'), (datetime.date(2004, 5, 30), Decimal(\'31102.85\'), \'Tekni Collectables Inc.\'), (datetime.date(2003, 11, 15), Decimal(\'23936.53\'), \'Australian Gift Network, Co\'), (datetime.date(2003, 10, 17), Decimal(\'9821.32\'), \'Australian Gift Network, Co\'), (datetime.date(2005, 3, 1), Decimal(\'21432.31\'), \'Australian Gift Network, Co\'), (datetime.date(2005, 1, 27), Decimal(\'45785.34\'), \'Suominen Souveniers\'), (datetime.date(2003, 8, 16), Decimal(\'29716.86\'), \'Suominen Souveniers\'), (datetime.date(2004, 5, 22), Decimal(\'28394.54\'), \'Suominen Souveniers\'), (datetime.date(2004, 10, 24), Decimal(\'23333.06\'), \'Classic Gift Ideas, Inc\'), (datetime.date(2003, 11, 28), Decimal(\'34606.28\'), \'Classic Gift Ideas, Inc\'), (datetime.date(2003, 11, 24), Decimal(\'31428.21\'), \'CAF Imports\'), (datetime.date(2004, 4, 2), Decimal(\'15322.93\'), \'CAF Imports\'), (datetime.date(2004, 1, 18), Decimal(\'21053.69\'), "Men \'R\' US Retailers, Ltd."), (datetime.date(2003, 10, 24), Decimal(\'20452.50\'), "Men \'R\' US Retailers, Ltd."), (datetime.date(2004, 12, 11), Decimal(\'18888.31\'), \'Marseille Mini Autos\'), (datetime.date(2003, 5, 25), Decimal(\'50824.66\'), \'Marseille Mini Autos\'), (datetime.date(2005, 1, 29), Decimal(\'1834.56\'), \'Marseille Mini Autos\'), (datetime.date(2005, 1, 10), Decimal(\'49705.52\'), \'Reims Collectables\'), (datetime.date(2003, 7, 21), Decimal(\'13920.26\'), \'Reims Collectables\'), (datetime.date(2003, 5, 21), Decimal(\'16700.47\'), \'Reims Collectables\'), (datetime.date(2005, 6, 9), Decimal(\'46656.94\'), \'Reims Collectables\'), (datetime.date(2003, 12, 16), Decimal(\'20220.04\'), \'GiftsForHim.com\'), (datetime.date(2004, 5, 15), Decimal(\'36442.34\'), \'GiftsForHim.com\'), (datetime.date(2004, 7, 11), Decimal(\'18473.71\'), \'Gifts4AllAges.com\'), (datetime.date(2004, 9, 21), Decimal(\'15059.76\'), \'Gifts4AllAges.com\'), (datetime.date(2004, 11, 17), Decimal(\'50799.69\'), \'Online Diecast Creations Co.\'), (datetime.date(2003, 1, 16), Decimal(\'10223.83\'), \'Online Diecast Creations Co.\'), (datetime.date(2003, 12, 5), Decimal(\'55425.77\'), \'Online Diecast Creations Co.\'), (datetime.date(2005, 2, 12), Decimal(\'28322.83\'), \'Collectables For Less Inc.\'), (datetime.date(2003, 9, 16), Decimal(\'32680.31\'), \'Collectables For Less Inc.\'), (datetime.date(2004, 8, 2), Decimal(\'12530.51\'), \'Collectables For Less Inc.\'), (datetime.date(2004, 12, 3), Decimal(\'12081.52\'), \'Royale Belge\'), (datetime.date(2003, 4, 19), Decimal(\'1627.56\'), \'Royale Belge\'), (datetime.date(2005, 2, 3), Decimal(\'14379.90\'), \'Royale Belge\'), (datetime.date(2003, 8, 22), Decimal(\'1128.20\'), \'Royale Belge\'), (datetime.date(2003, 5, 12), Decimal(\'35826.33\'), \'Salzburg Collectables\'), (datetime.date(2004, 8, 1), Decimal(\'6419.84\'), \'Salzburg Collectables\'), (datetime.date(2004, 11, 27), Decimal(\'42813.83\'), \'Salzburg Collectables\'), (datetime.date(2003, 12, 2), Decimal(\'20644.24\'), \'Cruz & Sons Co.\'), (datetime.date(2004, 11, 19), Decimal(\'15822.84\'), \'Cruz & Sons Co.\'), (datetime.date(2003, 3, 9), Decimal(\'51001.22\'), \'Cruz & Sons Co.\'), (datetime.date(2003, 11, 18), Decimal(\'38524.29\'), "L\'ordine Souveniers"), (datetime.date(2004, 7, 18), Decimal(\'51619.02\'), "L\'ordine Souveniers"), (datetime.date(2005, 2, 14), Decimal(\'33967.73\'), \'Tokyo Collectables, Ltd\'), (datetime.date(2004, 6, 21), Decimal(\'22037.91\'), \'Tokyo Collectables, Ltd\'), (datetime.date(2005, 5, 18), Decimal(\'615.45\'), \'Tokyo Collectables, Ltd\'), (datetime.date(2004, 11, 29), Decimal(\'48927.64\'), \'Tokyo Collectables, Ltd\'), (datetime.date(2005, 4, 23), Decimal(\'12190.85\'), \'Auto Canal+ Petit\'), (datetime.date(2004, 1, 28), Decimal(\'49165.16\'), \'Auto Canal+ Petit\'), (datetime.date(2004, 6, 17), Decimal(\'25080.96\'), \'Auto Canal+ Petit\'), (datetime.date(2004, 7, 25), Decimal(\'35034.57\'), \'Extreme Desk Decorations, Ltd\'), (datetime.date(2004, 4, 14), Decimal(\'31670.37\'), \'Extreme Desk Decorations, Ltd\'), (datetime.date(2004, 9, 28), Decimal(\'31310.09\'), \'Bavarian Collectables Imports, Co.\'), (datetime.date(2004, 12, 7), Decimal(\'25505.98\'), \'Classic Legends Inc.\'), (datetime.date(2003, 4, 16), Decimal(\'21665.98\'), \'Classic Legends Inc.\'), (datetime.date(2003, 10, 31), Decimal(\'22042.37\'), \'Classic Legends Inc.\'), (datetime.date(2003, 9, 15), Decimal(\'6631.36\'), \'Gift Ideas Corp.\'), (datetime.date(2003, 6, 25), Decimal(\'17032.29\'), \'Gift Ideas Corp.\'), (datetime.date(2004, 12, 17), Decimal(\'26304.13\'), \'Gift Ideas Corp.\'), (datetime.date(2005, 4, 18), Decimal(\'27966.54\'), \'Scandinavian Gift Ideas\'), (datetime.date(2004, 9, 30), Decimal(\'48809.90\'), \'Scandinavian Gift Ideas\'), (datetime.date(2004, 6, 21), Decimal(\'59551.38\'), \'The Sharp Gifts Warehouse\'), (datetime.date(2003, 11, 15), Decimal(\'27121.90\'), \'Mini Auto Werke\'), (datetime.date(2003, 11, 20), Decimal(\'15130.97\'), \'Mini Auto Werke\'), (datetime.date(2005, 5, 3), Decimal(\'8807.12\'), \'Mini Auto Werke\'), (datetime.date(2003, 12, 5), Decimal(\'38139.18\'), \'Super Scale Inc.\'), (datetime.date(2004, 5, 12), Decimal(\'32239.47\'), \'Super Scale Inc.\'), (datetime.date(2004, 11, 13), Decimal(\'27550.51\'), \'Microscale Inc.\'), (datetime.date(2004, 4, 30), Decimal(\'1679.92\'), \'Microscale Inc.\'), (datetime.date(2004, 11, 15), Decimal(\'33145.56\'), \'Corrida Auto Replicas, Ltd\'), (datetime.date(2004, 2, 6), Decimal(\'22162.61\'), \'Corrida Auto Replicas, Ltd\'), (datetime.date(2003, 6, 13), Decimal(\'57131.92\'), \'Corrida Auto Replicas, Ltd\'), (datetime.date(2005, 4, 15), Decimal(\'30293.77\'), \'FunGiftIdeas.com\'), (datetime.date(2003, 11, 8), Decimal(\'9977.85\'), \'FunGiftIdeas.com\'), (da

In [19]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

execute_query = QuerySQLDataBaseTool(db=db)
write_query = create_sql_query_chain(llm, db)
chain = write_query | execute_query
chain.invoke({"question": "give me all the payment detail with customer name"})

'Error: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near \'NULLS LAST\' at line 1")\n[SQL: SELECT payments.customerNumber, customers.customerName, payments.paymentDate, payments.amount FROM payments JOIN customers ON payments.customerNumber = customers.customerNumber ORDER BY payments.customerNumber NULLS LAST;]\n(Background on this error at: https://sqlalche.me/e/20/f405)'

In [14]:
import csv
# Specify the CSV file path
csv_file_path = 'output.csv'

# Extract column names from the query (if available, otherwise define them manually)
column_names = ['paymentDate', 'amount', 'customerName']

# Write the data to a CSV file
with open(csv_file_path, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerow(column_names)  # Write the header row
    writer.writerows(x)  # Write the data rows

print(f'Data has been written to {csv_file_path}')

Data has been written to output.csv

In [12]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

execute_query = QuerySQLDataBaseTool(db=db)
execute_query.invoke(query)

"[(Decimal('95.70'),)]"

In [15]:
execute_query.invoke(query)

str

In [6]:
chain = write_query | execute_query
chain.invoke({"question":"how many orders are there"})

'[(326,)]'

In [7]:
pip install -U langsmith

Requirement already satisfied: langsmith in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (0.1.77)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from langsmith) (3.10.3)
Requirement already satisfied: pydantic<3,>=1 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from langsmith) (2.7.1)
Requirement already satisfied: requests<3,>=2 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from langsmith) (2.31.0)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from pydantic<3,>=1->langsmith) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from pydantic<3,>=1->langsmith) (2.18.2)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from pydantic<3,>=1->langsmith) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from requests<3,>=2->langsmith) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from requests<3,>=2->langsmith) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from requests<3,>=2->langsmith) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from requests<3,>=2->langsmith) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import os

os.environ["LANGCHAIN_TRACING_V2"]="true"
os.environ["LANGCHAIN_API_KEY"]="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"

In [9]:
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

answer = answer_prompt | llm | StrOutputParser()
chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer
)

chain.invoke({"question": "How many Orders are there"})

'326'

# FewShortPrompt

In [10]:
examples = [
    {
        "input": "List all customers in France with a credit limit over 20,000.",
        "query": "SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;"
    },
    {
        "input": "Get the highest payment amount made by any customer.",
        "query": "SELECT MAX(amount) FROM payments;"
    },
    {
        "input": "Show product details for products in the 'Motorcycles' product line.",
        "query": "SELECT * FROM products WHERE productLine = 'Motorcycles';"
    },
    {
        "input": "Retrieve the names of employees who report to employee number 1002.",
        "query": "SELECT firstName, lastName FROM employees WHERE reportsTo = 1002;"
    },
    {
        "input": "List all products with a stock quantity less than 7000.",
        "query": "SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;"
    },
    {
        'input': "what is price of 1968 Ford Mustang",
        "query": "SELECT buyPrice`, MSRP FROM products WHERE productName = '1968 Ford Mustang' LIMIT 1;"
    }
]

In [11]:
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder, FewShotChatMessagePromptTemplate

example_prompt = ChatPromptTemplate.from_messages(
    [
        ("human", "{input}\nSQLQuery:"),
        ("ai", "{query}"),
    ]
)

few_shot_prompt = FewShotChatMessagePromptTemplate(
    example_prompt=example_prompt,
    examples=examples,
    # input_variables=["input", "top_k"],
    input_variables=["input"],
)

print(few_shot_prompt.format(input="How many products are there?", top_k=3, table_info=""))

Human: List all customers in France with a credit limit over 20,000.
SQLQuery:
AI: SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;
Human: Get the highest payment amount made by any customer.
SQLQuery:
AI: SELECT MAX(amount) FROM payments;
Human: Show product details for products in the 'Motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';
Human: Retrieve the names of employees who report to employee number 1002.
SQLQuery:
AI: SELECT firstName, lastName FROM employees WHERE reportsTo = 1002;
Human: List all products with a stock quantity less than 7000.
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;
Human: what is price of 1968 Ford Mustang
SQLQuery:
AI: SELECT buyPrice`, MSRP FROM products WHERE productName = '1968 Ford Mustang' LIMIT 1;

# Dynamic FewshotPrompt

In [12]:
from langchain.embeddings import HuggingFaceEmbeddings
embeddings = HuggingFaceEmbeddings(model_name="sentence-transformers/all-MiniLM-L6-v2")

c:\Users\royel\anaconda3\envs\medical_chatbot\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\royel\anaconda3\envs\medical_chatbot\Lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
c:\Users\royel\anaconda3\envs\medical_chatbot\Lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [13]:
from langchain_community.vectorstores import Chroma
from langchain_core.example_selectors import SemanticSimilarityExampleSelector

vectorstore = Chroma()
vectorstore.delete_collection()

example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    embeddings,
    vectorstore,
    k=2,
    input_keys=["input"],
)

example_selector.select_examples({"input":"who is highest paying customer"})

[{'input': 'Get the highest payment amount made by any customer.',
  'query': 'SELECT MAX(amount) FROM payments;'},
 {'input': 'List all customers in France with a credit limit over 20,000.',
  'query': "SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;"}]

In [14]:
few_shot_prompt = FewShotChatMessagePromptTemplate(
    example_prompt=example_prompt,
    example_selector=example_selector, 
    input_variables=["input","top_k"],
)

print(few_shot_prompt.format(input="How many products are there?",top_k=3,table_info=""))

Human: List all products with a stock quantity less than 7000.
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;
Human: Show product details for products in the 'Motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';

# Customizing Prompts

In [15]:
final_prompt = ChatPromptTemplate.from_messages(
    [
        ("system","You are a MySQL expert. Given an input question, Create a synthatically correct Mysql query to run. Unless otherwise specificed. \n\nOnly use the following tables: {table_info}\n\n below are a number of examples of question and their corresponding SQL queries."),
        few_shot_prompt,
        ("human","{input}")
    ]
)
print(final_prompt.format(input="how many products are there?",table_info="some table info"))

System: You are a MySQL expert. Given an input question, Create a synthatically correct Mysql query to run. Unless otherwise specificed.

Only use the following tables: some table info

 below are a number of examples of question and their corresponding SQL queries.
Human: List all products with a stock quantity less than 7000.
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;
Human: Show product details for products in the 'Motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';
Human: how many products are there?

In [16]:
generate_query = create_sql_query_chain(llm,db,final_prompt)

chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer
)

chain.invoke({"question": "How many customers with credit limit more than 50000"})

'1670711'

# Tabele Details

In [17]:
pip install pandas

Requirement already satisfied: pandas in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\royel\anaconda3\envs\medical_chatbot\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
from operator import itemgetter
from langchain.chains.openai_tools import create_extraction_chain_pydantic
from langchain_core.pydantic_v1 import BaseModel, Field
from typing import List
import pandas as pd

def get_table_details():
    # Read the CSV file into a DataFrame
    table_description = pd.read_csv("table_info.csv")
    table_docs = []

    # Iterate over the DataFrame rows to create Document objects
    table_details = ""
    for index, row in table_description.iterrows():
        table_details = table_details + "Table Name:" + row['Table'] + "\n" + "Table Description:" + row['Description'] + "\n\n"

    return table_details


class Table(BaseModel):
    """Table in SQL database."""

    name: str = Field(description="Name of table in SQL database.")

# table_names = "\n".join(db.get_usable_table_names())
table_details = get_table_details()
print(table_details)

Table Name:productlines
Table Description:Stores information about the different product lines offered by the company, including a unique name, textual description, HTML description, and image. Categorizes products into different lines.

Table Name:products
Table Description:Contains details of each product sold by the company, including code, name, product line, scale, vendor, description, stock quantity, buy price, and MSRP. Linked to the productlines table.

Table Name:offices
Table Description:Holds data on the company's sales offices, including office code, city, phone number, address, state, country, postal code, and territory. Each office is uniquely identified by its office code.

Table Name:employees
Table Description:Stores information about employees, including number, last name, first name, job title, contact info, and office code. Links to offices and maps organizational structure through the reportsTo attribute.

Table Name:customers
Table Description:Captures data on customers, including customer number, name, contact details, address, assigned sales rep, and credit limit. Central to managing customer relationships and sales processes.

Table Name:payments
Table Description:Records payments made by customers, tracking the customer number, check number, payment date, and amount. Linked to the customers table for financial tracking and account management.

Table Name:orders
Table Description:Details each sales order placed by customers, including order number, dates, status, comments, and customer number. Linked to the customers table, tracking sales transactions.

Table Name:orderdetails
Table Description:Describes individual line items for each sales order, including order number, product code, quantity, price, and order line number. Links orders to products, detailing the items sold.

In [19]:
table_details_prompt = f"""Return the names of ALL the SQL tables that MIGHT be relevant to the user question. \
The tables are:

{table_details}

Remember to include ALL POTENTIALLY RELEVANT tables, even if you're not sure that they're needed."""

table_chain = create_extraction_chain_pydantic(Table, llm, system_message=table_details_prompt)
tables = table_chain.invoke({"input": "give me details of customer and their order count"})
tables

c:\Users\royel\anaconda3\envs\medical_chatbot\Lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: LangChain has introduced a method called `with_structured_output` thatis available on ChatModels capable of tool calling.You can read more about the method here: https://python.langchain.com/docs/modules/model_io/chat/structured_output/Please follow our extraction use case documentation for more guidelineson how to do information extraction with LLMs.https://python.langchain.com/docs/use_cases/extraction/.with_structured_output does not currently support a list of pydantic schemas. If this is a blocker or if you notice other issues, please provide feedback here:https://github.com/langchain-ai/langchain/discussions/18154
  warn_deprecated(

[]

In [20]:
def get_tables(tables: List[Table]) -> List[str]:
    tables  = [table.name for table in tables]
    return tables

select_table = {"input": itemgetter("question")} | create_extraction_chain_pydantic(Table, llm, system_message=table_details_prompt) | get_tables
select_table.invoke({"question": "give me details of customer and their order count"})

[]

In [21]:
chain = (
RunnablePassthrough.assign(table_names_to_use=select_table) |
RunnablePassthrough.assign(query=generate_query).assign(
    result=itemgetter("query") | execute_query
)
| answer
)
chain.invoke({"question": "How many cutomers with order count more than 5"})

'2019071'

# Chatbots with Memory

In [22]:
from langchain.memory import ChatMessageHistory
history = ChatMessageHistory()

In [23]:
final_prompt = ChatPromptTemplate.from_messages(
    [
        ("system", "You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.\n\nHere is the relevant table info: {table_info}\n\nBelow are a number of examples of questions and their corresponding SQL queries. Those examples are just for referecne and hsould be considered while answering follow up questions"),
        few_shot_prompt,
        MessagesPlaceholder(variable_name="messages"),
        ("human", "{input}"),
    ]
)
print(final_prompt.format(input="How many products are there?",table_info="some table info",messages=[]))

System: You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.

Here is the relevant table info: some table info

Below are a number of examples of questions and their corresponding SQL queries. Those examples are just for referecne and hsould be considered while answering follow up questions
Human: List all products with a stock quantity less than 7000.
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;
Human: Show product details for products in the 'Motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';
Human: How many products are there?

In [24]:
generate_query = create_sql_query_chain(llm, db,final_prompt)

chain = (
RunnablePassthrough.assign(table_names_to_use=select_table) |
RunnablePassthrough.assign(query=generate_query).assign(
    result=itemgetter("query") | execute_query
)
| answer
)

In [25]:
question = "How many cutomers with order count more than 5"
response = chain.invoke({"question": question,"messages":history.messages})

In [26]:
history.add_user_message(question)
history.add_ai_message(response)
history.messages

[HumanMessage(content='How many cutomers with order count more than 5'),
 AIMessage(content='0')]

In [29]:
response = chain.invoke({"question": "Can you list there names?","messages":history.messages})
response

'---------------------------------------------------------------------------'

: